
<div class="row justify-content-center">
    <div class="col-8 padding_zero desktop">
        <div class="row linha-acima" >
            <div class="col-sm-1 font-gray-calvo">
                <h5>Parceiros</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="col-sm-4 font-red-calvo">
                <h5>Fornecedores</h5>
            </div>
        </div>
    </div>
    <div class="col-12 mobile">
        <div class="row justify-content-center linha-acima">
            <div class="font-gray-calvo">
                <h5>Parceiros</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="font-red-calvo">
                <h5>Fornecedores</h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-8 padding_zero titulo-parc">
        <h2>Fornecedores</h2>
        <div class="borda-bottom"></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha border-bottom-fino">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <img [src]="ype" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="adria" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="bauducco" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="bombril" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="brahma" alt="" class="central">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha border-bottom-fino">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <img [src]="camil" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="campari" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="caravelas" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="coamo" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="cocacola" alt="" class="central">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha border-bottom-fino">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <img [src]="donabenta" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="liza" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="personal" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="petybon" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="pilao" alt="" class="central">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha border-bottom-fino">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <img [src]="quero" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="sadia" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="schincariol" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="candida" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="renata" alt="" class="central">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha border-bottom-fino">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <img [src]="bunge" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="scala" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="soya" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="solito" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="uniao" alt="" class="u central">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha border-bottom-fino">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <img [src]="nestle" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="friboi" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="marba" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="perdigao" alt="" class="central">
            </div>
            <div class="col-sm-2">
                <img [src]="italac" alt="" class="central">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha border-bottom-fino">
        <div class="row">
            <div class="col-sm-2 offset-sm-1">
                <img [src]="batavo" alt="" class="central">
            </div>
        </div>
    </div>
</div>