<div class="row justify-content-center">
    <div class="col-8 desktop">
        <div class="row linha-acima">
            <div class="font-gray-calvo">
                <h5>Orçamento</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="font-red-calvo">
                <h5>Cotação de Listas de Produtos</h5>
            </div>
        </div>
    </div>
    <div class="col-12 mobile">
        <div class="row justify-content-center linha-acima">
            <div class="font-gray-calvo">
                <h5>Orçamento</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="font-red-calvo">
                <h5>Cotação de Listas de Produtos</h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-8 titulo-parc padding_zero">
        <h2>Orçamento</h2>
        <div class="borda-bottom"></div>
    </div>
</div>
<div class="row justify-content-center margin_linha orca_vazio">
    <div class="col-8 titulo_orca">
        <h4>Você não possui produtos na lista para cotação</h4>
        <div class="row">
            <div class="col-md-3">
                <button class="btn_selecionar_produtos">SELECIONAR PRODUTOS</button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-10 padding_zero">
        <div class="row margin_zero topo_orcamento">
            <div class="col-3 campo_topo_produtos">
                <h6>Produto</h6>
            </div>
            <div class="col-3 campo_topo_produtos">
                <h6>Código</h6>
            </div>
            <div class="col-3 campo_topo_produtos center">
                <h6>Quantidade</h6>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-3 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-3 campo_topo_produtos">
                <div class="row">
                    <div class="col-sm-12">
                        <span>000000</span>
                    </div>
                </div>
            </div>
            <div class="col-3 campo_topo_produtos center box_quantidade">
                <span class="border_quant">1</span>
            </div>
            <div class="col-3 center padding_20px">
                <span class="close_black">x</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-3 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-3 campo_topo_produtos">
                <div class="row">
                    <div class="col-sm-12">
                        <span>000000</span>
                    </div>
                </div>
            </div>
            <div class="col-3 campo_topo_produtos center box_quantidade">
                <span class="border_quant">1</span>
            </div>
            <div class="col-3 center padding_20px">
                <span class=" close_black">x</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-3 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-3 campo_topo_produtos">
                <div class="row">
                    <div class="col-sm-12">
                        <span>000000</span>
                    </div>
                </div>
            </div>
            <div class="col-3 campo_topo_produtos center box_quantidade">
                <span class="border_quant">1</span>
            </div>
            <div class="col-3 center padding_20px">
                <span class=" close_black">x</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-3 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-3 campo_topo_produtos">
                <div class="row">
                    <div class="col-sm-12">
                        <span>000000</span>
                    </div>
                </div>
            </div>
            <div class="col-3 campo_topo_produtos center box_quantidade">
                <span class="border_quant">1</span>
            </div>
            <div class="col-3 center padding_20px">
                <span class=" close_black">x</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-3 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-3 campo_topo_produtos">
                <div class="row">
                    <div class="col-sm-12">
                        <span>000000</span>
                    </div>
                </div>
            </div>
            <div class="col-3 campo_topo_produtos center box_quantidade">
                <span class="border_quant">1</span>
            </div>
            <div class="col-3 center padding_20px">
                <span class=" close_black">x</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-3 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-3 campo_topo_produtos">
                <div class="row">
                    <div class="col-sm-12">
                        <span>000000</span>
                    </div>
                </div>
            </div>
            <div class="col-3 campo_topo_produtos center box_quantidade">
                <span class="border_quant">1</span>
            </div>
            <div class="col-3 center padding_20px">
                <span class=" close_black">x</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-3 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-3 campo_topo_produtos">
                <div class="row">
                    <div class="col-sm-12">
                        <span>000000</span>
                    </div>
                </div>
            </div>
            <div class="col-3 campo_topo_produtos center box_quantidade">
                <span class="border_quant">1</span>
            </div>
            <div class="col-3 center padding_20px">
                <span class=" close_black">x</span>
            </div>
        </div>
        <div class="row margin_zero linha_orcamento">
            <div class="col-3 campo_topo_produtos">
                <h6>Nome do Produto</h6>
            </div>
            <div class="col-3 campo_topo_produtos">
                <div class="row">
                    <div class="col-sm-12">
                        <span>000000</span>
                    </div>
                </div>
            </div>
            <div class="col-3 campo_topo_produtos center box_quantidade">
                <span class="border_quant">1</span>
            </div>
            <div class="col-3 center padding_20px">
                <span class=" close_black">x</span>
            </div>
        </div>
        <div class="row margin_zero">
            <div class="col-6 campo_topo_produtos">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn_selecionar_produtos">SOLICITAR ORÇAMENTO</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
              <div class="row justify-content-center">
                <div class="margin_itens">
                    <h6>Total de Itens</h6>
                </div>
                <div class="margin_itens">
                    <h4>8</h4>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
