<div class="row justify-content-center display_prog">
    <div class="col-10 desktop margin_top_190px">
        <img [src]="bgimageprog" class="central border_radius" alt="">
        <!-- <div class="row">
            <div class="col-lg branco_calvo font-carousel">
                <h1>{{prog}}<br>{{fid}}</h1>
                <h2>{{down}}</h2>
            </div>
        </div> -->
    </div>
    <div class="col-12 margintop_carrossel_mob mobile">
        <img [src]="banner_mob" class="border_radius central" alt="">
        <!-- <div class="row margin_top_mobile_fidel">
            <div class="col-5 branco_calvo font-carousel_mob">
                <h5>{{prog}}<br>{{fid}}</h5>
            </div>
        </div>
        <div class="row margin_top_mobile_down">
            <div class="col-4 subt_progra_app_mob">
                <h6>{{down}}</h6>
            </div>
        </div> -->
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-9">
        <div class="row">
            <div class="col-md-12 titulo_app_prog">
                <h3>{{disp}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-9">
        <div class="row">
            <div class="col-md-6">
                <img class="app" [src]="apple" alt="">
            </div>
            <div class="col-md-6">
                <img class="app" [src]="android" alt="">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-9">
        <div class="row margin_linha">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="bg_red_circulo">
                            <svg-icon [src]="desconto"></svg-icon>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-2 texto_prog">
                                <span>Descontos Exclusivos</span>
                            </div>
                            <div class="col-sm-6 texto_prog_mob">
                                <h6>Descontos Exclusivos</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="bg_red_circulo">
                            <svg-icon [src]="ofertas"></svg-icon>
                        </div>
                    </div>
                    <div class="col-sm-5">                   
                        <div class="texto_prog">
                            <span>Notificações de Ofertas</span>
                        </div>
                        <div class="col-sm-6 texto_prog_mob">
                            <h6>Notificações de Ofertas</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="bg_red_circulo">
                            <svg-icon [src]="tabloide"></svg-icon>
                        </div>
                    </div>
                    <div class="col-sm-5 texto_prog">
                        <span>Tablóide Digital
                                de Ofertas</span>
                    </div>
                    <div class="col-sm-6 texto_prog_mob">
                        <h6>Tablóide Digital de Ofertas</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin_linha">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="bg_red_circulo">
                            <svg-icon [src]="noticias"></svg-icon>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-12 texto_prog">
                                <span>Notícias e Informações</span>
                            </div>
                            <div class="col-sm-6 texto_prog_mob">
                                <h6>Notícias e Informações</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="bg_red_circulo">
                            <svg-icon [src]="promocao"></svg-icon>
                        </div>
                    </div>
                    <div class="col-sm-6">                   
                        <div class="texto_prog">
                            <span>Promoções e Queima de Estoque</span>
                        </div>
                    </div>
                    <div class="col-sm-6 texto_prog_mob">
                        <h6>Promoções e Queima de Estoque</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="bg_red_circulo_">
                            <svg-icon [src]="mapa"></svg-icon>
                        </div>
                    </div>
                    <div class="col-sm-5 texto_prog">
                        <span>Mapa e Contatos
                                Calvo Atacadista</span>
                    </div>
                    <div class="col-sm-6 texto_prog_mob">
                        <h6>Mapa e Contatos Calvo Atacadista</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
