<div class="row justify-content-center">
    <div class="col-10 image-background-carousel-empresa margin_linha desktop">
    </div>
    <div class="col-12 margin_top_banner mobile">
        <img class="central border_radius" [src]="banner_empresa" alt="">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 subtite_empresa_red margin_linha">
        <h3>A CALVO ATACADISTA É UMA EMPRESA QUE ATUA NO SEGMENTO ATACADISTA DESDE
                1965, COM AMPLA LOJA NA REGIÃO LESTE DE SÃO PAULO</h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-7 text_empresa margin_linha">
        <h4>Visando sempre atendê-lo com qualidade, contamos com mais de 400 funcionários e
                colaboradores qualificados para atendê-lo no atacado e varejo.</h4>
        <br>
        <h4>Nossa missão é buscar o melhor produto do mercado com o melhor preço e qualidade. 
            Contamos com um processo rigoroso que faz toda a diferença para garantir qualidade e preço baixo</h4>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha">
        <div class="row">
            <div class="col-md-4">
                <img [src]="calvoex" alt="" class="central">
            </div>
            <div class="col-md-4">
                <img [src]="calvointbeb" alt="" class="central">
            </div>
            <div class="col-md-4">
                <img [src]="calvointperi" alt="" class="central">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img [src]="calvointaper" alt="" class="central">
            </div>
            <div class="col-md-4">
                <img [src]="calvointhort" alt="" class="central">
            </div>
            <div class="col-md-4">
                <img [src]="calovintper" alt="" class="central">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9 titulo_empresa margin_linha">
        <h3>PROCESSO CALVO ATACADISTA</h3>
        <div class="row justify-content-center margin_linha">
                <div class="col-10">
                    <div class="row margin_linha">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="circulo">
                                        <svg-icon [src]="lupa" [svgStyle]="{ 'width.%':100 }"></svg-icon>
                                    </div>
                                </div>
                                <div class="col-sm-6 texto_prog">
                                    <h6>Processo de Seleção de Fornecedor</h6>
                                </div>
                                <div class="col-sm-6 texto_prog_mob">
                                    <h6>Processo de Seleção de Fornecedor</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="circulo">
                                        <svg-icon [src]="sacola" [svgStyle]="{ 'width.%':100 }"></svg-icon>
                                    </div>
                                </div>
                                <div class="col-sm-6 texto_prog">                   
                                    <h6>Processo de Compra</h6>
                                </div>
                                <div class="col-sm-6 texto_prog_mob">                   
                                    <h6>Processo de Compra</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="circulo">
                                        <svg-icon [src]="armazenamento" [svgStyle]="{ 'width.%':100 }"></svg-icon>
                                    </div>
                                </div>
                                <div class="col-sm-6 texto_prog">
                                    <h6>Processo de Armazenamento</h6>
                                </div>
                                <div class="col-sm-6 texto_prog_mob">
                                    <h6>Processo de Armazenamento</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_linha">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="circulo">
                                        <svg-icon [src]="armazenamento" [svgStyle]="{ 'width.%':100 }"></svg-icon>
                                    </div>
                                </div>
                                <div class="col-sm-6 texto_prog">
                                    <h6>Processo de Abastecimento</h6>
                                </div>
                                <div class="col-sm-6 texto_prog_mob">
                                    <h6>Processo de Armazenamento</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="circulo">
                                        <svg-icon [src]="reabastecimento" [svgStyle]="{ 'width.%':100 }"></svg-icon>
                                    </div>
                                </div>
                                <div class="col-sm-6 texto_prog">                   
                                    <h6>Processo de Reabastecimento</h6>
                                </div>
                                <div class="col-sm-6 texto_prog_mob">
                                    <h6>Processo de Armazenamento</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="circulo">
                                        <svg-icon [src]="cliente" [svgStyle]="{ 'width.%':100 }"></svg-icon>
                                    </div>
                                </div>
                                <div class="col-sm-6 texto_prog">
                                    <h6>Processo de Satisfação do Cliente</h6>
                                </div>
                                <div class="col-sm-6 texto_prog_mob">
                                    <h6>Processo de Armazenamento</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-9 margin_linha">
        <img [src]="banner_desk_baixo" class="central border_radius" alt="">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 subtite_empresa_blue margin_linha padding_zero">
        <h3>OFERECEMOS AOS NOSSOS CLIENTES VARIEDADES QUE SÓ UM ATACADISTA COM
                TANTO TEMPO NO MERCADO PODE PROPORCIONAR</h3>
        <div class="row margin_linha">
            <div class="col-sm-4 subtite_empresa_black">
                <h3>Infraestrutura Completa</h3>
                <p>Temos um laboratório moderno e amplo para
                fatiar, e embalar os produtos como nossos
                frios, hortifrúti, carnes e outros.</p>
            </div>
            <div class="col-sm-4 subtite_empresa_black">
                <h3>Frota Própria</h3>
                <p>Utilizamos uma frota de caminhões
                        próprios para atender nossos clientes
                        com rapidez e pontualidade.</p>
            </div>
            <div class="col-sm-4 subtite_empresa_black">
                <h3>Amplo Estacionamento</h3>
                <p>Contamos com um amplo estacionamento
                        para carga e descarga de mercadorias.</p>
            </div>
        </div>
    </div>
</div>
