<div class="row justify-content-center">
    <div class="col-8 padding_zero desktop">
        <div class="row linha-acima" >
            <div class="col-sm-1 font-gray-calvo">
                <h5>Atacado</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="col-sm-4 font-red-calvo">
                <h5>Papelaria</h5>
            </div>
        </div>
    </div>
    <div class="col-12 mobile">
        <div class="row justify-content-center linha-acima">
            <div class="font-gray-calvo">
                <h5>Atacado</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="font-red-calvo">
                <h5>Papelaria</h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-8 padding_zero titulo-parc">
        <h2>Papelaria</h2>
        <div class="borda-bottom"></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="row espaco-left margin_linha">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-sm-12 border_gray">
                        <select class="select_busca" name="" id="">
                            <option value="">Ordenar Por</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-3 margin-paragrafo">
                <p>Monstrando 16 resultados de 72</p>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-9  padding_zero">
                        <input  class="campo" type="text" placeholder="Buscar Produtos">
                    </div>
                    <div class="col-3 lupa_altura">
                        <svg-icon [src]="pesquisar" [svgStyle]="{'width.px':30}"></svg-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>