<div class="row justify-content-center">
    <div class="col-8 padding_zero desktop">
        <div class="row linha-acima">
            <div class="col-sm-1 font-gray-calvo">
                <h5>Contato</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="col-sm-4 font-red-calvo">
                <h5>Televendas</h5>
            </div>
        </div>
    </div>
    <div class="col-12 mobile">
        <div class="row justify-content-center linha-acima">
            <div class="font-gray-calvo">
                <h5>Contato</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="font-red-calvo">
                <h5>Televendas</h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-8 paddig_zero titulo-parc">
        <h2>Televendas</h2>
        <div class="borda-bottom"></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="row padding_televendas">
            <div class="col-md-12 titulo_compre">
                <h3>Compre na Calvo Atacadista sem sair de casa</h3>
            </div>
        </div>
    </div> 
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha">
        <div class="row padding_televendas">
            <div class="col-md-4 campo-imagem-vendas-inter">
                <div class="row">
                    <div class="col-sm-12 img_vendas_intercalvo">
                        <img class="image" [src]="atend_inter" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-8 campo_vendas">
                <p>Para oferecer mais comodidade e conveniência a seus clientes, 
                    a Calvo Atacadista conta com uma equipe treinada e qualificada para receber o seu pedido. Deixe o seu dia a dia mais flexível e produtivo, sem trânsito e correria.<br>Nossa equipe está aguardando a sua ligação! 
                    Com a experiência e aprimoramento adquiridos ao longo de seus 48 anos de história, 
                    a Calvo Atacadista oferece atualmente um serviço de entrega sem taxas e sem burocracias.Para</p>
            </div>
            
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha">
        <div class="row padding_televendas">
            <div class="col-md-4 campo-imagem-vendas-inter">
                <div class="row">
                    <div class="col-sm-12 campo_regras">
                        <h3>Regras do Televendas</h3>
                        <p>Para compras acima de R$ 350,00.
                        Entregas apenas na cidade de São Paulo.
                        Prazo de entrega dos pedidos: 48 h úteis.
                        Atendimento: Segundas às Quintas, das 8h às 18h; Sextas, das 8h às 17h.</p>
                    </div>
                </div>
                <div class="row espacoregra-impor">
                    <div class="col-sm-12 campo_regras">
                        <h3>Importante</h3>
                        <p>Na efetivação do pedido o cliente será informado da data e horário aproximado da entrega, 
                            sempre em dias úteis e em horário comercial. 
                            As equipes de entregas da Calvo estão sempre devidamente uniformizadas e 
                            identificadas para garantir a sua segurança</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="image" [src]="spcapital" alt="">
            </div>
            <div class="col-md-4">
                <img class="image" [src]="atendente" alt="">
            </div>
        </div>
    </div>
</div>
