<div class="row justify-content-center">
    <div class="col-8 padding_zero desktop">
        <div class="row linha-acima" >
            <div class="col-sm-1 font-gray-calvo">
                <h5>Blog</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="col-sm-4 font-red-calvo">
                <h5>Receitas</h5>
            </div>
        </div>
    </div>
    <div class="col-12 mobile">
        <div class="row justify-content-center linha-acima">
            <div class="font-gray-calvo">
                <h5>Blog</h5>
            </div>
            <div class="seta_right">
                <span>></span>
            </div>
            <div class="font-red-calvo">
                <h5>Receitas</h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-8 padding_zero titulo-parc">
        <h2>Receitas</h2>
        <div class="borda-bottom"></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8 margin_linha">
        <div class="row margin_linha">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img_rec" [src]="feijoada" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 padding_calendar">
                        <span>
                            <svg-icon [src]="calendario" [svgStyle]="{ 'width.px':40 }"></svg-icon>
                        </span>
                        <span>15/02/2020</span>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 TITULO_RECEITA">
                        <h6>FEIJOADA</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 font_receita">
                        <p>Deixe mergulhado em água o lombo, a carne seca e a costela salgada. Vá trocando a água para dessalgar as carnes. Deixe o feijão preto também de molho...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-sm-1 seemais">
                     <h6><a [routerLink]="['/receitas/feijoada']">Ver Mais</a></h6> 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img_rec" [src]="lanche_pernil" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 padding_calendar">
                        <span>
                            <svg-icon [src]="calendario" [svgStyle]="{ 'width.px':40 }"></svg-icon>
                        </span>
                        <span>15/02/2020</span>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 TITULO_RECEITA">
                        <h6>PERNIL PARA LANCHES</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 font_receita">
                        <p>Deixe marinando o pernil de 1 dia para o outro para tomar gosto. Molho para marinar o pernil: suco de limões, 1 copo de vinho, sal, pimenta do reino...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-sm-1 seemais">
                        <h6><a [routerLink]="['/receitas/pernil_lanches']">Ver Mais</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img_rec" [src]="quibe_bandeja" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 padding_calendar">
                        <span>
                            <svg-icon [src]="calendario" [svgStyle]="{ 'width.px':40 }"></svg-icon>
                        </span>
                        <span>15/02/2020</span>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 TITULO_RECEITA">
                        <h6>QUIBE DE BANDEJA</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 font_receita">
                        <p>Coloque em uma panela 2 colheres de sopa de manteiga com um pouco de azeite e doure bem 2 cebolas picadas. Acrescente 200g de carne moída, sal ...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-sm-1 seemais">
                        <h6><a [routerLink]="['/receitas/quibe_bandeja']">Ver Mais</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin_linha">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img_rec" [src]="torta_palmito" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 padding_calendar">
                        <span>
                            <svg-icon [src]="calendario" [svgStyle]="{ 'width.px':40 }"></svg-icon>
                        </span>
                        <span>15/02/2020</span>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 TITULO_RECEITA">
                        <h6>TORTA DE PALMITO</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 font_receita">
                        <p>Em uma vasilha coloque a farinha de trigo e no centro coloque todos os Ingredientes restantes. Vá sovando a massa até que ela fique homogênea...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-sm-1 seemais">
                        <h6> <a [routerLink]="['/receitas/torta_palmito']">Ver Mais</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img_rec" [src]="espaguete_carbo" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 padding_calendar">
                        <span>
                            <svg-icon [src]="calendario" [svgStyle]="{ 'width.px':40 }"></svg-icon>
                        </span>
                        <span>15/02/2020</span>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 offset-sm-1 TITULO_RECEITA">
                        <h6>ESPAGUETE À CARBONARA</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 font_receita">
                        <p>Em um pouco de azeite, doure o bacon cortadinho e em seguida adicione o alho para dar uma dourada. Acrescente o sal e a pimenta do reino e reserve...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-sm-1 seemais">
                        <h6> <a [routerLink]="['/receitas/espaguete_carbonara']">Ver Mais</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img_rec" [src]="strogonoff" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 padding_calendar">
                        <span>
                            <svg-icon [src]="calendario" [svgStyle]="{ 'width.px':40 }"></svg-icon>
                        </span>
                        <span>15/02/2020</span>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-1 TITULO_RECEITA">
                        <h6>STROGONOFF</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-10 font_receita">
                        <p>Limpe a carne, corte em cubinhos, passe na farinha de trigo e reserve. A parte, leve para dourar as cebolas picadas e o alho espremido na manteiga com um fio.. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-sm-1 seemais">
                        <h6><a [routerLink]="['/receitas/strogonoff']">Ver Mais</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>