<div class="row justify-content-center display_dicas">
    <div class="col-10 margin_top_190px desktop">
        <img [src]="bgimagedicas" class="central border_radius" alt="">
        <!-- <div class="col-lg branco_calvo font-carousel">
            <h1>{{D}}</h1>
        </div>
        <div class="col-lg branco_calvo font-carousel">
            <h2>{{busniess}}</h2>
        </div> -->
        <div class="row">
            <div class="col-md-2 offset-md-1 subt_progra_app">
                <h2></h2>
            </div>
        </div>
    </div>
    <div class="col-12 margintop_carrossel_mob mobile mobile">
        <img [src]="dicas" class="border_radius central" alt="">
        <!-- <div class="row margin_top_mobile_dicas">
            <div class="col-5 branco_calvo font-carousel_mob">
                <h5>{{D}}</h5>
            </div>
        </div>
        <div class="row margin_top_mobile_down">
            <div class="col-4 subt_progra_app_mob">
                <h6>{{busniess}}</h6>
            </div>
        </div> -->
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-8 text_mais_sucess">
        <h3>{{mais_sucesso}}</h3>
    </div>
</div>
<div class="row justify-content-center margin_linha">
    <div class="col-8 dicas_select">
        <h3>{{dicas_select}}</h3>
    </div>
</div>
<div class="row justify-content-center margin_linha">
        <div class="col-8 book">
            <h3>{{ebook}}</h3>
        </div>
</div>
<div class="row justify-content-center bg_ebook">
    <div class="col-9">
        <div class="row">
            <div class="col-md-3 margin_vertical_10px">
                <div class="row margin_book">
                    <div class="col-sm-12 bg_gray_book"></div>
                </div>
                <div class="row margin_book">
                    <div class="col-sm-12 bg_white_book">
                    </div>
                </div>
                <div class="row">
                    <div class="col-9 offset-1">
                        <img class="img_book" [src]="book_1" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text_ebook_link">
                        <h4>Dogueiros</h4>
                        <span>Baixar E-book</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin_vertical_10px">
                <div class="row margin_book">
                    <div class="col-sm-12 bg_gray_book"></div>
                </div>
                <div class="row margin_book">
                    <div class="col-sm-12 bg_white_book"></div>
                </div>
                <div class="row">
                    <div class="col-9 offset-1">
                        <img class="img_book" [src]="book_2" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text_ebook_link">
                        <h4>Pizzarias</h4>
                        <span>Baixar E-book</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin_vertical_10px">
                <div class="row margin_book">
                    <div class="col-sm-12 bg_gray_book"></div>
                </div>
                <div class="row margin_book">
                    <div class="col-sm-12 bg_white_book"></div>
                </div>
                <div class="row">
                    <div class="col-9 offset-1">
                        <img class="img_book" [src]="book_3" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text_ebook_link">
                        <h4>Pastelarias</h4>
                        <span>Baixar E-book</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 margin_vertical_10px">
                <div class="row margin_book">
                    <div class="col-sm-12 bg_gray_book"></div>
                </div>
                <div class="row margin_book">
                    <div class="col-sm-12 bg_white_book"></div>
                </div>
                <div class="row">
                    <div class="col-9 offset-1">
                        <img class="img_book" [src]="book_4" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text_ebook_link">
                        <h4>Mercearias</h4>
                        <span>Baixar E-book</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
