
    <div class="row justify-content-center">
        <div class="col-10 margintop_carrossel desktop">
            <div id="slide_desk" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-12 ">
                            <img class="central border_radius" [src]="maesday" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div  class="col-12">
                            <img [src]="newbanner_desk"  class="central border_radius" alt="">
                            <div class="row">
                                <div class="col-2 offset-1">
                                    <span class="btn-home-saiba" [routerLink]="['/empresa']">Saiba Mais</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div  class="col-12">
                            <img class="central border_radius" [src]="banner_empresa" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div  class="col-12">
                            <img class="central border_radius" [src]="program_fidel" alt="">
                            <!-- <div class="row titulo_absolute">
                                <div class="col-lg branco_calvo font-25px">
                                    <h1>{{prog}}<br>{{fid}}</h1>
                                </div>
                            </div> -->
                            <!-- <div class="row titulo_absolute_abaixo">
                                <div class="col-12 subt_progra_app_">
                                    <h2>{{down}}</h2>
                                </div>
                            </div> -->
                            <!-- <div class="row icones_app">
                                <div class="col-6">
                                    <svg-icon [src]="apple_desktop" ></svg-icon>
                                </div>
                                <div class="col-6">
                                    <svg-icon [src]="android_desktop"></svg-icon>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div  class="col-12">
                            <img class="central border_radius"[src]="bannerdicas" alt="">
                            <!-- <div class="row titulo_absolute">
                                <div class="col-12">
                                    <div class="col-lg branco_calvo font-carousel">
                                        <h1>{{D}}</h1>
                                    </div>
                                    <div class="col-lg branco_calvo font-carousel">
                                        <h2>{{busniess}}</h2>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#slide_desk" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#slide_desk" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>   
                </div>       
                <ul class="carousel-indicators">
                    <li data-target="#slide_desk" data-slide-to="0" class="active"></li>
                    <li data-target="#slide_desk" data-slide-to="1"></li>
                    <li data-target="#slide_desk" data-slide-to="2"></li>
                    <li data-target="#slide_desk" data-slide-to="3"></li>
                    <li data-target="#slide_desk" data-slide-to="4"></li>
                </ul>
            </div>
        </div>
        <div class="col-12 mobile margintop_carrossel_mob">
            <div id="slide_mobile" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-12 ">
                            <img class="central border_radius" [src]="maesday" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div  class="col-12">
                            <img [src]="newbanner_desk"  class="central border_radius" alt="">
                            <div class="row margin_linha_btn_atacado">
                                <div class="col-12">
                                    <span class="btn-home-saiba_mobile" [routerLink]="['/empresa']">Saiba Mais</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div  class="col-12">
                            <img class="central border_radius" [src]="banner_empresa" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div  class="col-12">
                            <img class="central border_radius" [src]="program_fidel_mob" alt="">
                            <!-- <div class="row margin_top_mobile_fidel_home">
                                <div class="col-10 branco_calvo font-carousel_mob_home_fidel">
                                    <h5>{{prog}}<br>{{fid}}</h5>
                                    <h6>{{down}}</h6>
                                </div>
                            </div> -->
                            <div class="row linha_app_mobile_fidel">
                                <div class="col-5 offset-3 icones_app_mobile">
                                    <svg-icon [src]="apple_mobile"></svg-icon>
                                </div>
                                <div class="col-4 icones_app_mobile">
                                    <svg-icon [src]="android_mobile"></svg-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div  class="col-12">
                            <img class="central border_radius"[src]="bannerdicas" alt="">
                            <!-- <div class="row margin_top_mobile_dicas">
                                <div class="col-5 branco_calvo font-carousel_mob">
                                    <h5>{{D}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 subt_progra_app_mob">
                                    <h6>{{busniess}}</h6>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#slide_mobile" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#slide_mobile" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>  
                </div>      
                <ul class="carousel-indicators">
                    <li data-target="#slide_mobile" data-slide-to="0" class="active"></li>
                    <li data-target="#slide_mobile" data-slide-to="1"></li>
                    <li data-target="#slide_mobile" data-slide-to="2"></li>
                    <li data-target="#slide_mobile" data-slide-to="3"></li>
                    <li data-target="#slide_mobile" data-slide-to="4"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 padding_zero">
            <div class="row margin_linha">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">  
                            <a class="link_home">
                                <img class="central" [src]="fidelidade" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-5 branco_calvo text-home">
                            <h6>{{prog}}<br>{{fid}}</h6>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-6 margin_btn_cdtro">
                            <span class="btn_cadastro" [routerLink]="['/programa']">Cadastre-se e Saiba Mais</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="link_home" [routerLink]="['/dicas']">
                                <img [src]="dicas" alt="" class="central">
                            </span>
                        </div>
                    </div>
                <!-- <div class="row">
                    <div class="col-sm-5 black_calvo text-home">
                        <h6>Dicas</h6>
                    </div>
                </div> -->
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="link_home" [routerLink]="['/receitas']">
                                <img [src]="receitas" alt="" class="central">
                            </span>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-5 branco_calvo text-home">
                            <h6>Receitas</h6>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9 padding_zero">
            <div class="row margin_linha justify-content-center">
                <div class="col-md-7 offset-md-2 centro padding_laterais_30px bold">
                    <h2>ENTREGAMOS EM TODA CIDADE DE SÃO PAULO</h2>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-2 center">
                            <svg-icon [src]="headphone" [svgStyle]="{ 'width.px':30 }"></svg-icon>
                        </div>
                        <div class="col-sm-6 centro font-20px padding_zero">
                            <span>PABX</span><br>
                            <span>2723-6000</span>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center desktop">
        <div class="col-8 padding_zero">
            <div class="row justify-content-center">
                <div class="col-9 centro compras_categorias">
                    <h3>COMPRAS POR CATEGORIAS</h3>
                </div>
            </div>
            <div class="row margin_linha">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="mercearia" alt="">
                            <h4>Mercearia</h4>
                            <span [routerLink]="['/atacado/mercearia']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="frios" alt="">
                            <h4>Perecíveis</h4>
                            <span [routerLink]="['/atacado/pereciveis']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="hortifruti" alt="">
                            <h4>Hortifruti</h4>
                            <span [routerLink]="['/atacado/hortifruti']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="limpeza" alt="">
                            <h4>Limpeza</h4>
                            <span [routerLink]="['/atacado/limpeza']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img [src]="higiene" alt="" class="central">
                            <h4>Higiene</h4>
                            <span [routerLink]="['/atacado/higiene']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img [src]="newdrinks" alt="" class="central">
                            <h4>Bebidas</h4>
                            <span  [routerLink]="['/atacado/bebidas']">Ver Tudo</span>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="row margin_linha">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="cestas" alt="">
                            <h4>Cestas Básicas</h4>
                            <span [routerLink]="['']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="institucional" alt="">
                            <h4>Institucional</h4>
                            <span [routerLink]="['/atacado/institucional']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="carnes" alt="">
                            <h4>Carnes</h4>
                            <span [routerLink]="['/atacado/carnes']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img class="central" [src]="pet" alt="">
                            <h4>Pet</h4>
                            <span [routerLink]="['/atacado/pet']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img [src]="papelaria" alt="" class="central">
                            <h4>Papelaria</h4>
                            <span [routerLink]="['/atacado/papelaria']">Ver Tudo</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span">
                            <img [src]="descartaveis" alt="" class="central">
                            <h4>Outros</h4>
                            <span [routerLink]="['/atacado/outros']">Ver Tudo</span>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="row justify-content-center mobile">
        <div class="col-9 padding_zero">
            <div id="carousel_products" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img class="central" [src]="mercearia" alt="">
                                <h4>Mercearia</h4>
                                <span [routerLink]="['/atacado/mercearia']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img class="central" [src]="frios" alt="">
                                <h4>Perecíveis</h4>
                                <span [routerLink]="['/atacado/pereciveis']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img class="central" [src]="hortifruti" alt="">
                                <h4>Hortifruti</h4>
                                <span [routerLink]="['/atacado/hortifruti']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img class="central" [src]="limpeza" alt="">
                                <h4>Limpeza</h4>
                                <span [routerLink]="['/atacado/limpeza']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                        <div class="col-sm-12 font_calvo_black btn-span centro">
                            <img [src]="higiene" alt="" class="central">
                            <h4>Higiene</h4>
                            <span [routerLink]="['/atacado/higiene']">Ver Tudo</span>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img [src]="newdrinks" alt="" class="central">
                                <h4>Bebidas</h4>
                                <span  [routerLink]="['/atacado/bebidas']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img class="central" [src]="cestas" alt="">
                                <h4>Cestas Básicas</h4>
                                <span [routerLink]="['']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img class="central" [src]="institucional" alt="">
                                <h4>Institucional</h4>
                                <span [routerLink]="['/atacado/institucional']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img class="central" [src]="carnes" alt="">
                                <h4>Carnes</h4>
                                <span [routerLink]="['/atacado/carnes']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img class="central" [src]="pet" alt="">
                                <h4>Pet</h4>
                                <span [routerLink]="['/atacado/pet']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img [src]="papelaria" alt="" class="central">
                                <h4>Papelaria</h4>
                                <span [routerLink]="['/atacado/papelaria']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 font_calvo_black btn-span centro">
                                <img [src]="descartaveis" alt="" class="central">
                                <h4>Outros</h4>
                                <span [routerLink]="['/atacado/outros']">Ver Tudo</span>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel_products" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel_products" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>   
                </div>
                <ul class="carousel-indicators">
                    <li data-target="#carousel_products" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel_products" data-slide-to="1"></li>
                    <li data-target="#carousel_products" data-slide-to="2"></li>
                    <li data-target="#carousel_products" data-slide-to="3"></li>
                    <li data-target="#carousel_products" data-slide-to="4"></li>
                    <li data-target="#carousel_products" data-slide-to="5"></li>
                    <li data-target="#carousel_products" data-slide-to="6"></li>
                    <li data-target="#carousel_products" data-slide-to="7"></li>
                    <li data-target="#carousel_products" data-slide-to="8"></li>
                    <li data-target="#carousel_products" data-slide-to="9"></li>
                    <li data-target="#carousel_products" data-slide-to="10"></li>
                    <li data-target="#carousel_products" data-slide-to="11"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center display">
        <div class="col-8 margin_linha">
            <div class="row margin-kit bg-kit">
                <div class="col-sm-1 offset-sm-2 branco_calvo font-kit">
                    <h2>Kits Especiais</h2>
                </div>
                <div class="col-sm-4 offset-sm-7 cestas_basicas">
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="central" [src]="kit_um" alt="">
                        </div>
                        <div class="col-sm-5">
                            <img class="central" [src]="kit_dois" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 offset-sm-2">
                            <button class="btn-home-saiba_arredon" (click)="kits_especiais()">
                                Saiba Mais
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 margin_linha bg-kit_mobile">
            <img class="img_fundo" [src]="img_fundo" alt="">
            <div class="row margin-kit">
                <div class="col-sm-4 offset-sm-2 font-kit_mobile">
                    <h2>Kits Especiais</h2>
                </div>
                <div class="col-sm-4 offset-sm-7 cestas_basicas_mobile">
                    <div class="row">
                        <div class="col-12 padding_zero">
                            <img [src]="kit_especial_mob" alt="" class="central-mobile border_radius">
                        </div>
        
                    </div>
                    <div class="row">
                        <div class="col-sm-6 offset-sm-2">
                            <button class="btn-home-saiba_arredon" (click)="kits_especiais()">
                                Saiba Mais
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 padding_zero margin_linha">
            <div class="row">
                <div class="col-md-7 offset-md-2 centro espaco_top_bottom bold" >
                    <h3>OFERTAS DA SEMANA</h3>
                </div>
                <div class="col-md-3">
                    <button class="btn-tabloide flex" (click)="baixartabloide()">
                        <div class="col-8 legenda-btn-tabloide">
                            Baixar Tabloide
                        </div>
                        <div class="col-3">
                            <svg-icon [src]="orcamento" [svgStyle]="{'width.px':30 }"></svg-icon>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 padding_zero">
            <div class="row margin_linha">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_a" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_b" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_c" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_d" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin_linha">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_e" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_f" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_g" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-12 border_cinza_produtos">
                            <img class="central" [src]="oferta_h" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin_linha">
                <div class="col-md-4 offset-md-4">
                    <button class="btn-carregar_cinza">
                        Carregar Mais Ofertas
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 margin_linha">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <img [src]="comprador" alt="" class="central">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn-saiba_yellow desktop" (click)="uscompradores()">Saiba Mais</button>
                                </div>
                                <div class="col-sm-12 posicao_sobre  mobile">
                                    <button class="btn_saiba_mais_mobile" (click)="uscompradores()">Saiba Mais</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img [src]="fornecedores" alt="" class="central">                        
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn-saiba_yellow desktop" (click)="fornecedor()">Saiba Mais</button>
                        </div>
                        <div class="col-sm-12 posicao_sobre  mobile">
                            <button class="btn_saiba_mais_mobile" (click)="fornecedor()">Saiba Mais</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


