<div class="row justify-content-center desktop">
    <div class="col-9 campo_kits_especiais">
       <div class="row">
           <div class="col-6 caixa_cestas">
               <div class="row">
                   <div class="col-12 bg_topo_cesta">
                       <h1>Cesta Escritório</h1>
                       <h3>Kit Café</h3>
                   </div>
               </div>
               <div class="row">
                   <div class="col-6 padding_zero cestas_kits">
                       <img [src]="cafe" class="image" alt="">
                   </div>
                   <div class="col-6 lista_item_kit">
                        <h4>Descrição</h4>
                        <ul class="lista_kit">
                            <li>1 Pacote de Café 3 Corações Tradicional</li>
                            <li>1 Pacote de Açúcar Refinado União</li>
                            <li>1 Adoçante Zero Cal</li>
                            <li>1 Pacote de Bolacha de Água e Sal Renata</li>
                            <li>1 Pacote de Bolacha de Maisena Bauducco</li>
                        </ul>
                   </div>
               </div>
           </div>
           <div class="col-6 caixa_cestas">
                <div class="row">
                    <div class="col-sm-12 bg_topo_cesta">
                        <h1>Cesta Escritório</h1>
                        <h3>Kit Higiene</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 padding_zero cestas_kits">
                        <img [src]="higiene" class="image" alt="">
                    </div>
                    <div class="col-sm-6 lista_item_kit">
                        <h4>Descrição</h4>
                        <ul class="lista_kit">
                            <li>1 Pacote de Papel Higiênico Kitchen com 4 rolos</li>
                            <li>1 Sabonete Jhonson's</li>
                            <li>1 Pacote de Papel Toalha com 2 rolos</li>
                            <li>1 Álcool Zulu</li>
                            <li>1 Limpol Bombril</li>
                        </ul>
                    </div>
                </div>
           </div>
       </div>
       <div class="row desktop">
           <div class="col-md-6">
               <div class="row">
                   <div class="col-sm-4">
                       <button class="btn_comprar" (click)="openModal('kitespecial')">COMPRAR</button>
                   </div>
                   <div class="col-md-6">
                       <h1>R$ 00,00</h1>
                   </div>
               </div>
           </div>
           <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn_comprar" (click)="openModal('kitespecial')">COMPRAR</button>
                    </div>
                    <div class="col-md-6">
                        <h1>R$ 00,00</h1>
                    </div>
                </div>
           </div>
       </div>
    </div>
</div>
<div class="row justify-content-center padding_top_70px  mobile">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-10 bg_topo_cesta_mobile">
                <h5>Cesta Escritório</h5>
                <h6>Kit Café</h6>
            </div>
            <div class="row">
                <div class="col-6 margin_top_kit_mobile">
                    <img [src]="cafe" class="central" alt="">
                </div>
                <div class="col-4 lista_mobile_kit padding_zero text-left">
                    <h5>Descrição</h5>
                    <ul class="padding_zero">
                        <li>1 Pacote de Café 3 Corações Tradicional</li>
                        <li>1 Pacote de Açúcar Refinado União</li>
                        <li>1 Adoçante Zero Cal</li>
                        <li>1 Pacote de Bolacha de Água e Sal Renata</li>
                        <li>1 Pacote de Bolacha de Maisena Bauducco</li>
                    </ul>
                </div>
            </div>
            <div class="row margin_top_btn_kit_mobile">
                <div class="col-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn_comprar" (click)="openModal('kitespecial')">COMPRAR</button>
                        </div>
                        <div class="col-sm-12 centro margin_top_20px_valor_mobile">
                            <h1>R$ 00,00</h1>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 bg_topo_cesta_mobile">
                <h5>Cesta Escritório</h5>
                <h6>Kit Higiene</h6>
            </div>
            <div class="row">
                <div class="col-6 margin_top_kit_mobile">
                    <img [src]="higiene" class="central" alt="">
                </div>
                <div class="col-4 lista_mobile_kit padding_zero text-left">
                    <h5>Descrição</h5>
                    <ul class="padding_zero">
                        <li>1 Pacote de Papel Higiênico Kitchen com 4 rolos</li>
                        <li>1 Sabonete Jhonson's</li>
                        <li>1 Pacote de Papel Toalha com 2 rolos</li>
                        <li>1 Álcool Zulu</li>
                        <li>1 Limpol Bombril</li>
                    </ul>
                </div>
            </div>
            <div class="row margin_top_btn_kit_mobile">
                <div class="col-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn_comprar" (click)="openModal('kitespecial')">COMPRAR</button>
                        </div>
                        <div class="col-sm-12 centro margin_top_20px_valor_mobile">
                            <h1>R$ 00,00</h1>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>   
</div>
<modal-kit id="kitespecial">
        <div class="row">
                <div class="col-12 close_black campo_padding">
                    <span (click)="closeModal('kitespecial')">X</span>
                </div>
            </div>
    <div class="row justify-content-center">
        <div class="col-12">
        
            <div class="row">
                    <div class="col-md-12 centro">
                            <h6>Você será redirecionado para o </h6>
                            <div class="row">
                                <div class="col-sm-12">
                                    <svg-icon [src]="ifood" [svgStyle]="{ 'width.px':100 }"></svg-icon>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn-avancar">AVANÇAR</button>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
</modal-kit>   

